body {
    /* border: 2px solid red; */
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    outline: 2px solid blue;
    
}

.header {
    height: 72px;
    background-color:rgb(31, 41, 55);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  a{ 
    color: white;
    padding: 12px;
    
}
nav{
    padding: 12px;
}

.section.a1 {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:rgb(31, 41, 55);
    padding: 32px;
    gap: 16px;
}

.img2{
    width: 200px;
}

.heading1 {
    color:rgb(249,250,248);
    font-size: 48px;
    font-weight: 900;
    margin: 0%;
    width: 100%;
}

.info1 {
    color:rgb(229,231,235)
}

.button1{
    text-align: center;
    color:rgb(229,231,235);
    background-color:rgb(56,130,246);
    border: none;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    margin: 4px;
}