body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
    outline: 2px solid black;
}



.header{
    outline: 2px solid white;
    height: 10vh;
    background-color:rgb(31, 41, 55);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
   
}

.section1 {
    /* outline: 2px solid white; */
    /* height: 30vh; */
    background-color:rgb(31, 41, 55);
    display: flex;
    /* flex: 1 1 1; */
}

a{ 
    color: white;
    padding: 12px;
    margin-top: 12px;
}

h3{
    color: white;
}

.img1{
    height: 8vh;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: auto;
    padding: 5px;

}

nav{
    padding: 12px;
}

.section1{
    display: flex;
    gap: 15px;
    justify-content: center;
    width: auto;
    align-items: center;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    
}

.heading1 {
    color:rgb(249,250,248);
    font-size: 48px;
    font-weight: 900;
    margin: 0%;
    width: 100%;
}

.info1 {
    color:rgb(229,231,235)
}

.img2{
    width: 300px;
}

.subsecA, .subsecB {
    flex: 1 1 auto;  
}

.button1{
    text-align: center;
    color:rgb(229,231,235);
    background-color:rgb(56,130,246);
    border: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    margin: 4px;
}

.middleSection {
    display: flex;
    flex-direction:column ;
    background-color:white;
    outline: 2px solid green;
    width: 100%;
}
.section2{
    display: flex;
    outline: 2px solid red ;
    gap: 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.sec2 {
    display: flex;
    flex-direction:column;
    width: 100px;
    
    

}

.Box {
    height: 100px;
    width: 100px;
    outline: 2px solid blue ;
}

.mid-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    color: rgb (31,41,55);
    font-size: 36px;
    font-weight: 900;
}