body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    outline: 2px solid black;
}



.header{
    outline: 2px solid white;
    height: 10vh;
    background-color:rgb(31, 41, 55);
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section1 {
    outline: 2px solid white;
    height: 30vh;
    background-color:rgb(31, 41, 55);
}

a{ 
    color: white;
    padding: 12px;
    margin-top: 12px;
}

h3{
    color: white;
}

img{
    height: 8vh;
    margin-left: 5px;
    margin-top: 5px;

}

nav{
    padding: 12px;
}